body { background-color: #dccca3;
    color: #824c71;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16spx;

}


h1 {text-align:center;
    font-size: 35px;
}

h2 {font-size: 25px;}



.Noraspic {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.borderline {
    border-bottom-style: double;
}
.workplace {
    font-size: 20px;
    text-decoration: underline;
}
.dates {
    font-size: 16px;
}

.Education {
    font-size: 20px;
    text-decoration: underline;
}

footer {text-align: center;
        font-size: 12px;}